.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #31006F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainContainer {
  background: linear-gradient(90deg, #2e036f, #6da2d9);
  color: white;
  min-height: 100vh;
  padding: 30px;
}
.mainContainer .stateForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 20px;
}
.mainContainer .stateForm .stateFormLegislatorsHeader {
  margin-bottom: 30px;
}
.mainContainer .stateForm .stateFormLegislatorsSubheader {
  margin-bottom: 15px;
}
.mainContainer .stateForm .stateFormSelect {
  align-self: center;
  margin-bottom: 15px;
}
.mainContainer .stateForm .stateFormCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
.mainContainer .stateForm .stateFormCard .card {
  width: 25px;
}
.mainContainer .flagImage {
  margin-top: 30px;
  max-width: 15%;
}
@media (max-width: 2400px) {
  .mainContainer .flagImage {
    max-width: 20%;
  }
}
@media (max-width: 1800px) {
  .mainContainer .flagImage {
    max-width: 30%;
  }
}
@media (max-width: 1000px) {
  .mainContainer .flagImage {
    max-width: 50%;
  }
}
.mainContainer .legislatorList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
}
.mainContainer .legislatorList .legislator {
  list-style-type: none;
  margin: 5px 0;
}
.mainContainer .legislatorList .legislator > a {
  color: white;
}
@media (max-width: 768px) {
  .mainContainer {
    padding: 20px;
  }
  .mainContainer .stateForm {
    margin-bottom: 10px;
  }
  .mainContainer .stateForm .stateFormLegislatorsHeader {
    margin-bottom: 20px;
  }
  .mainContainer .stateForm .stateFormLegislatorsSubheader {
    margin-bottom: 10px;
  }
  .mainContainer .legislatorList .legislator {
    margin: 3px 0;
  }
}
@media (max-width: 370px) {
  .mainContainer .stateForm .stateFormLegislatorsHeader {
    margin-bottom: 15px;
  }
  .mainContainer .stateForm .stateFormLegislatorsSubheader {
    margin-bottom: 5px;
  }
  .mainContainer .legislatorList .legislator {
    margin: 2px 0;
  }
}
@media (max-width: 410px) {
  .mainContainer .stateFormCard .card {
    width: 21px;
  }
  .mainContainer .stateFormCard .card-body {
    align-self: center;
    max-width: 80%;
  }
}

.mainCandidateContainer {
  background: linear-gradient(90deg, #2e036f, #6da2d9);
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 30px;
}
.mainCandidateContainer .candidateInfoHeader {
  margin-bottom: 30px;
}
.mainCandidateContainer .buttonLink {
  color: white;
  text-decoration: none;
}
@media (max-width: 768px) {
  .mainCandidateContainer {
    padding: 20px;
  }
  .mainCandidateContainer .candidateInfoHeader {
    margin-bottom: 20px;
  }
}
@media (max-width: 370px) {
  .mainCandidateContainer .candidateInfoHeader {
    margin-bottom: 15px;
  }
}
.mainCandidateContainer .candidateCard {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}/*# sourceMappingURL=App.css.map */