$mobile: 370px;
$tablet: 768px;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #31006F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Legislator Styles
.mainContainer {
  background: linear-gradient(90deg, #2e036f, #6da2d9);
  color: white;
  min-height: 100vh;
  padding: 30px;

  .stateForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin-bottom: 20px;

    .stateFormLegislatorsHeader {
      margin-bottom: 30px;
    }

    .stateFormLegislatorsSubheader {
      margin-bottom: 15px;
    }

    .stateFormSelect {
      align-self: center;
      margin-bottom: 15px;
    }

    .stateFormCard {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      max-width: 100%;
      overflow-x: hidden;

      .card {
        width: 25px;
      }
    }
  }

  .flagImage {
    margin-top: 30px;
    max-width: 15%;

    @media (max-width: 2400px) {
      max-width: 20%;
    }

    @media (max-width: 1800px) {
      max-width: 30%;
    }

    @media (max-width: 1000px) {
      max-width: 50%;
    }
  }

  .legislatorList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;

    .legislator {
      list-style-type: none;
      margin: 5px 0;

      > a {
        color: white;
      }
    }
  }

  @media (max-width: $tablet) {
    padding: 20px;

    .stateForm {
      margin-bottom: 10px;

      .stateFormLegislatorsHeader {
        margin-bottom: 20px;
      }

      .stateFormLegislatorsSubheader {
        margin-bottom: 10px;
      }
    }

    .legislatorList {
      .legislator {
        margin: 3px 0;
      }
    }
  }

  @media (max-width: $mobile) {
    .stateForm {
      .stateFormLegislatorsHeader {
        margin-bottom: 15px;
      }

      .stateFormLegislatorsSubheader {
        margin-bottom: 5px;
      }
    }

    .legislatorList {
      .legislator {
        margin: 2px 0;
      }
    }
  }

  @media (max-width: 410px) {
    .stateFormCard {
      .card {
        width: 21px;
      }

      .card-body {
        align-self: center;
        max-width: 80%;
      }
    }
  }
}

// Candidate Info Styles
.mainCandidateContainer {
  background: linear-gradient(90deg, #2e036f, #6da2d9);
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 30px;

  .candidateInfoHeader {
    margin-bottom: 30px;
  }

  .buttonLink {
    color: white;
    text-decoration: none;
  }

  @media (max-width: $tablet) {
    padding: 20px;

    .candidateInfoHeader {
      margin-bottom: 20px;
    }
  }

  @media (max-width: $mobile) {
    .candidateInfoHeader {
      margin-bottom: 15px;
    }
  }

  .candidateCard {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
}
